/* Project Meta and colors */

$field-width: 500px;
$grid-spacing: 15px;
$grid-row-cells: 4;
$tile-size: ($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells;
$tile-border-radius: 3px;

$mobile-threshold: $field-width + 20px;

$text-color: #776E65;
$bright-text-color: #f9f6f2;

$main-background-color: #faf8ef;

$tile-color: #eee4da;
$tile-gold-color: #edc22e;
$tile-gold-glow-color: lighten($tile-gold-color, 15%);

$game-container-margin-top: 40px;
$game-container-background: #bbada0;

html, body {
  margin: 0;
  padding: 0;
  background: $main-background-color;
  color: $text-color;
  font-size: 18px;
}

.container {
  width: $field-width;
  margin: 0 auto;
}